/* ====================
   VARIABLES
==================== */

:root {
  --dark-blue: #32439b;
  --text-light: #FFFFFF;
  --body-background: #d9def9;
}

/* ====================
   GLOBAL STYLES
==================== */
html {
  font-family: 'Varela Round', Calibri, Verdana, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--body-background);
  color: var(--text-light);
}

/* ====================
   HEADER & FOOTER
==================== */
header, footer{
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

header a, footer a {
    text-decoration: none;
    color: var(--text-light); 
}

header {
  min-height: 15vh;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
} 

header h1 {
  font-size: 5vh;
}

footer {
  min-height: 8vh;
  margin: 8vh 10vw 0 10vw;
  border-radius: 2vh 2vh 0 0 ; 
  position: relative;
  font-size: 10px;
  padding: 0 5vw;
  z-index: 1001;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
}

.inline-icon {  
  height: 2em;
  vertical-align: middle;
  margin-right: 0.3em;
}

/* ====================
   REDIRECTS
==================== */
.redirects {
  margin: 25px 10vw;
    display: grid;
    gap: 25px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.redirects a {
    text-decoration: none;
    color: var(--text-light); 
}

.redirect-item {
  padding: 1em;
  width: 100%;
  max-width: 100%;
  text-align: center;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-sizing: border-box;
  font-size: 1.2em;
  display: block;
}

.redirect-item:hover {
  transform: scale(1.05);
  filter: brightness(0.85);
}

/* ====================
   GALLERY
==================== */

.gallery {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(min(30vh, 30vw), 1fr));
  gap: 1vw;
  padding: 0 15vw;
}

.gallery-image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;  
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  border-radius: 12%;
}

.gallery-separator {
  grid-column: 1 / -1;
  padding: 1em;
  text-align: center;

  background-color: var(--dark-blue);
  border-radius: 6px;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 2em;
}

.gallery-image img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12%;
}
.gallery-image img:hover {
  transform: scale(1.10);
}

/* ====================
   HOVER IMAGE
==================== */

.fixed-hover-image {
  position: fixed;
  bottom: 0vh;
  right: 2vw;
  width: min(25vh,25vw);
  height: min(25vh,25vw);
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.fixed-hover-image:active {
  transform: scale(1.1);
}

/* Dark Mode via system preference */
@media (prefers-color-scheme: dark) {
  body {
    --body-background: #2d3347;
    color: #e0e0f0;
  }
}

@media (max-width: 1000px) {
  .redirect-item {
    width: 90vw;
  }
}
