html {
  font-family: sans-serif;
}

body {
	min-height: 100vh;
	background-color: LightGray;
	margin:0%;
}

#page-header {
	height: 20vh;
	background-color:SlateBlue;
	color: LightGray; 
	display:flex;
	justify-content: center;
	align-items:center;
}

#page-body {
	/*display:flex;*/
	justicy-content:center;
	align-items:center;
}