<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <link rel="stylesheet" href="lander03xD.css">
    <title>
      Lander03xD
    </title>
    <meta name="description" content="Lander03xD's home page">
    <meta name="author" content="Lander03xD">
    <meta name="keywords" content="HTML, CSS, website, tutorial">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
